.window-app, .application {
    background: #7abdead3;
    --color-header-background: #2F4A5A;
    color: #ffffff;
}

.application input[type="text"], .application input[type="number"], .application input[type="password"], .application input[type="date"], .application input[type="time"], .application input[type="search"], .application input[type="file"], .application select {
    background: #2f4a5a83;
    color: #C7D3DC;
}

.application h4 {
    color: #cc7b5e;
}

.actor-v2
.custom-system-rollable {
    color: #cc7b5e;
}

