.window-app, .application {
    --background: rgb(99 99 103 / 90%);
    --color-header-background: rgb(101 0 0 / 50%);
}

.application input[type="text"], .application input[type="number"], .application input[type="password"], .application input[type="date"], .application input[type="time"], .application input[type="search"], .application input[type="file"], .application select {
    background: #615252;
    color: #ffffff;
}

.application h4 {
    color: #ff9b00;
}

.custom-system-rollable {
    color: #ffffff;
}

